.nav-main-container {
  background-color: var(--background-light);
}

.logo-container {
  flex-shrink: 0;
  max-width: 40px;
}

.nav-links {
  font-size: 8px;
  gap: 8px !important;
  text-transform: uppercase;
}

@media (min-width: 425px) {
  .nav-links {
    font-size: 14px;
    gap: 32px !important;
    text-transform: none;
  }
}

.nav-links a {
  transition: color 0.3s ease;
  opacity: 0.8;
}

.nav-links a:hover {
  opacity: 1;
  color: #fff !important;
}

.lang-dropdown :global(.dropdown-toggle) {
  display: flex;
  align-items: center;
  gap: 2px;
  padding: 0;
  border: none;
}

.lang-dropdown :global(.dropdown-toggle::after) {
  vertical-align: middle;
}

.lang-dropdown :global(.dropdown-menu) {
  margin-top: 10px !important; 
  min-width: 80px !important;
}

.lang-dropdown :global(.dropdown-item) {
  font-size: 14px;
}

.lang-dropdown :global(.dropdown-item:active) {
  background-color: var(--background-light) !important;
  color: #fff !important;
}