@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
  background-color: var(--background) !important;
  color: white !important;
  font-family: 'Ubuntu' !important;
  letter-spacing: 1px;
}

:root {
  --accent: #ff715b;
  --accent-light: #ff8a75;
  --background: #121E27;
  --background-light: #17232D;
  --text-muted: #a8a8a8;
}